.petals{
    background: aquamarine;
    width: 200px;
    height:45px;
    border: 0px;
    border-bottom: 10px;
    border-bottom-right-radius: 51px;
    border-top-left-radius: 51px;
    position: absolute;

}
.petal1{
    background: linear-gradient(90deg, rgba(238,174,202,0.7) 18%, rgba(243,175,153,0.7) 48%);
    z-index: 2;
}
.petal2{
    background: linear-gradient(90deg, rgba(2,0,36,0.7) 0%, rgba(70,9,121,0.7) 35%, rgba(0,212,255,0.7) 100%);
    transform: rotate(90deg);
    z-index: 1;

}.petal3{
    background: linear-gradient(90deg, rgba(102,19,240,0.7) 18%, rgba(180,121,89,0.7) 48%);
    transform: rotate(45deg);
    z-index: 4;

}.petal4{
    background: linear-gradient(90deg, rgba(237,240,19,0.7) 18%, rgba(240,147,19,0.7) 48%);
    transform: rotate(-45deg);
    z-index: 3;

}